Repository SamDev98/password-manager-py, pull requests merged in 2021-03, with the labels that each got.

#3 Use of environment variables added.
  Tk_README.md
  pass-manager-tkinter/scripts/data_manager.py
Labels: enhancement, tkinter-gui

#8 Refresh tags
  pass-manager-tkinter/scripts/ui.py
Labels: bug, tkinter-gui

#10 Small Fixes
  Tk_README.md
  pass-manager-tkinter/requirements.txt
Labels: documentation, tkinter-gui

#11 Adding CONTRIBUTING.md file
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Tk_README.md
  guides/venv.md
Labels: documentation

#15 Optimized Image size
  pass-manager-tkinter/images/password-manager.png
  screenshots/tkinter-gui/add_new_password_window.png
  screenshots/tkinter-gui/generate_password_window.png
  screenshots/tkinter-gui/list_passwords_window.png
  screenshots/tkinter-gui/login_window.png
  screenshots/tkinter-gui/main_app_window.png
Labels: enhancement, tkinter-gui

#17 Feature: File encryption added.
  CONTRIBUTING.md
  pass-manager-tkinter/data/master.csv
  pass-manager-tkinter/data/passwords.csv
  pass-manager-tkinter/data/readme.txt
  pass-manager-tkinter/requirements.txt
  pass-manager-tkinter/scripts/data_manager.py
  pass-manager-tkinter/scripts/setup_script.py
Labels: enhancement, tkinter-gui

#26 NEW: Mongo TUI added to projects!
  README.md
  pass-manager-tui-mongo/data/config.ini
  pass-manager-tui-mongo/launcher.py
  pass-manager-tui-mongo/scripts/db_handler.py
  pass-manager-tui-mongo/scripts/password_generator.py
  pass-manager-tui-mongo/scripts/ui_handler.py
Labels: size/L, tui-mongo

#27 Added more docs and Code refactored
  CONTRIBUTING.md
  README.md
  Tk_README.md
  docs/Tk_encrypted_README.md
  docs/Tui_mongo_README.md
  docs/guides/basics.md
  docs/guides/mongodb.md
  docs/guides/venv.md
  docs/res/images/PassManagerPy.png
  docs/res/screenshots/tkinter-encrypted/add_new_password_window.png
  docs/res/screenshots/tkinter-encrypted/generate_password_window.png
  docs/res/screenshots/tkinter-encrypted/list_passwords_window.png
  docs/res/screenshots/tkinter-encrypted/login_window.png
  docs/res/screenshots/tkinter-encrypted/main_app_window.png
  docs/res/screenshots/tui-mongo/main-menu.png
  docs/res/screenshots/tui-mongo/pass-gen.png
  docs/res/screenshots/tui-mongo/pass-list.png
  docs/res/screenshots/tui-mongo/user-create.png
  docs/res/screenshots/tui-mongo/user-login.png
  projects/pass-manager-tkinter-encrypted/data/readme.txt
  projects/pass-manager-tkinter-encrypted/images/password-manager.png
  projects/pass-manager-tkinter-encrypted/launcher.py
  projects/pass-manager-tkinter-encrypted/requirements.txt
  projects/pass-manager-tkinter-encrypted/scripts/data_manager.py
  projects/pass-manager-tkinter-encrypted/scripts/password_generator.py
  projects/pass-manager-tkinter-encrypted/scripts/setup_script.py
  projects/pass-manager-tkinter-encrypted/scripts/ui.py
  projects/pass-manager-tui-mongo/data/config.ini
  projects/pass-manager-tui-mongo/launcher.py
  projects/pass-manager-tui-mongo/requirements.txt
  projects/pass-manager-tui-mongo/scripts/db_handler.py
  projects/pass-manager-tui-mongo/scripts/password_generator.py
  projects/pass-manager-tui-mongo/scripts/ui_handler.py
Labels: documentation, enhancement

#29 Major Additions: Merging BETA to STABLE
  .github/labeler.yml
  .github/stale.yml
  .github/workflows/stale.yml
  CONTRIBUTING.md
  README.md
  Tk_README.md
  docs/Tk_encrypted_README.md
  docs/Tui_mongo_README.md
  docs/guides/basics.md
  docs/guides/mongodb.md
  docs/guides/venv.md
  docs/res/images/PassManagerPy.png
  docs/res/screenshots/tkinter-encrypted/add_new_password_window.png
  docs/res/screenshots/tkinter-encrypted/generate_password_window.png
  docs/res/screenshots/tkinter-encrypted/list_passwords_window.png
  docs/res/screenshots/tkinter-encrypted/login_window.png
  docs/res/screenshots/tkinter-encrypted/main_app_window.png
  docs/res/screenshots/tui-mongo/main-menu.png
  docs/res/screenshots/tui-mongo/pass-gen.png
  docs/res/screenshots/tui-mongo/pass-list.png
  docs/res/screenshots/tui-mongo/user-create.png
  docs/res/screenshots/tui-mongo/user-login.png
  pass-manager-tkinter/data/master.csv
  pass-manager-tkinter/data/passwords.csv
  projects/pass-manager-tkinter-encrypted/data/readme.txt
  projects/pass-manager-tkinter-encrypted/images/password-manager.png
  projects/pass-manager-tkinter-encrypted/launcher.py
  projects/pass-manager-tkinter-encrypted/requirements.txt
  projects/pass-manager-tkinter-encrypted/scripts/data_manager.py
  projects/pass-manager-tkinter-encrypted/scripts/password_generator.py
  projects/pass-manager-tkinter-encrypted/scripts/setup_script.py
  projects/pass-manager-tkinter-encrypted/scripts/ui.py
  projects/pass-manager-tui-mongo/data/config.ini
  projects/pass-manager-tui-mongo/launcher.py
  projects/pass-manager-tui-mongo/requirements.txt
  projects/pass-manager-tui-mongo/scripts/db_handler.py
  projects/pass-manager-tui-mongo/scripts/password_generator.py
  projects/pass-manager-tui-mongo/scripts/ui_handler.py
  requirements.txt
Labels: documentation, tkinter-encrypted, tui-mongo

#31 Upgrades for TUI
  README.md
  projects/pass-manager-tui-mongo/scripts/db_handler.py
  projects/pass-manager-tui-mongo/scripts/ext_files_handler.py
  projects/pass-manager-tui-mongo/scripts/ui_handler.py
Labels: bug, documentation, enhancement, size/L, tui-mongo

#32 dev features merge to main
  CONTRIBUTING.md
  README.md
  projects/pass-manager-tui-mongo/scripts/db_handler.py
  projects/pass-manager-tui-mongo/scripts/ext_files_handler.py
  projects/pass-manager-tui-mongo/scripts/ui_handler.py
Labels: bug, documentation, enhancement, size/L, tui-mongo

#38 Adding demo GIFs
  README.md
  docs/demo.md
  docs/res/gifs/tk-encrypted.gif
  docs/res/gifs/tui-mongo.gif
Labels: documentation

#39 Adding DEMO for projects
  README.md
  docs/demo.md
  docs/res/gifs/tk-encrypted.gif
  docs/res/gifs/tui-mongo.gif
Labels: documentation
